/* src/app/views/inicio-view/inicio-view.component.scss */
.headerEBody {
  flex-grow: 1;
  background-color: #b1b1b1;
}

#cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  width: 70%; /* Ajuste conforme necessário */
  margin: auto; /* Centraliza horizontalmente */
  border-radius: 15px; /* Ajuste conforme necessário */
  flex-wrap: wrap; /* Permite que os cards quebrem linha se necessário */
}

.card-spacing {
  margin: 10px; /* Ajuste conforme necessário */
}

#titulo {
  color: #404040;
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding-top: 50px;
}
