<table class="table">
  <thead>
  <tr>
    <th scope="col">
      ID
      <span (click)="sortColumn('id')">{{ isAscending && currentSortColumn === 'id' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Nome
      <span (click)="sortColumn('nome')">{{ isAscending && currentSortColumn === 'nome' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">Resumo</th>
    <th scope="col">
      Duração
      <span (click)="sortColumn('duracao')">{{ isAscending && currentSortColumn === 'duracao' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Avaliação
      <span (click)="sortColumn('avaliacao')">{{ isAscending && currentSortColumn === 'avaliacao' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Banda
      <span (click)="sortColumn('banda')">{{ isAscending && currentSortColumn === 'banda' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Músicas
      <span (click)="sortColumn('musicas')">{{ isAscending && currentSortColumn === 'musicas' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let album of albums">
    <th scope="row">{{ album.id }}</th>
    <td>{{ album.nome }}</td>
    <td>{{ album.resumo }}</td>
    <td>{{ (album.duracao / 60) | number:'1.2-2' }} <strong>mim</strong></td>
    <td>{{ album.avaliacao }} <app-star></app-star></td>
    <td>{{ album.banda }}</td>
    <td>{{ album.musicas }}</td>
    <td>
      <app-editar></app-editar>
      <app-lixeira></app-lixeira>
      <app-avaliar></app-avaliar>
    </td>
  </tr>
  </tbody>
</table>
