<div class="centered-div">
  <div>
    <div class="accordion limited-width-accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="toggleAccordion($event)">
            <strong>Camisa 10 Joga Bola Até na Chuva</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table center-text">
              <thead>
              <tr>
                <th scope="col">Faixa</th>
                <th scope="col">Nome</th>
                <th scope="col">Duração (Minutos)</th>
                <th scope="col">Avaliação</th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Dona do meu pensamento</td>
                <td>{{ (65  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>8 <app-star></app-star></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Só os loucos sabem</td>
                <td>{{ (350  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9 <app-star></app-star></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Só existe o agora</td>
                <td>{{ (487  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9.7 <app-star></app-star></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Puro sangue</td>
                <td>{{ (247  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>6 <app-star></app-star></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Blablabla</td>
                <td>{{ (247  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>7 <app-star></app-star></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" (click)="toggleAccordion($event)">
            <strong>Imunidade Musical</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table center-text">
              <thead>
              <tr>
                <th scope="col">Faixa</th>
                <th scope="col">Nome</th>
                <th scope="col">Duração (Minutos)</th>
                <th scope="col">Avaliação</th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Dona do meu pensamento</td>
                <td>{{ (450  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>8 <app-star></app-star></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Só os loucos sabem</td>
                <td>{{ (350  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9 <app-star></app-star></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Só existe o agora</td>
                <td>{{ (487  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9.7 <app-star></app-star></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Puro sangue</td>
                <td>{{ (240 / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td> <app-star></app-star></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Blablabla</td>
                <td>{{ (247  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>7 <app-star></app-star></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThee" aria-expanded="true" aria-controls="collapseThee" (click)="toggleAccordion($event)">
            <strong>Bocas Ordinárias</strong>
          </button>
        </h2>
        <div id="collapseThee" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table center-text">
              <thead>
              <tr>
                <th scope="col">Faixa</th>
                <th scope="col">Nome</th>
                <th scope="col">Duração (Minutos)</th>
                <th scope="col">Avaliação</th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Dona do meu pensamento</td>
                <td>{{ (450  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>8 <app-star></app-star></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Só os loucos sabem</td>
                <td>{{ (350  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9 <app-star></app-star></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Só existe o agora</td>
                <td>{{ (487  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>9.7 <app-star></app-star></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Puro sangue</td>
                <td>{{ (240  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>6 <app-star></app-star></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Blablabla</td>
                <td>{{ (247  / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                <td>7 <app-star></app-star></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
