<div class="centered-div">
  <div>
    <div class="accordion limited-width-accordion" id="accordionExample">
      <div *ngFor="let album of albuns" class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + generateValidId(album.nomeAlbum)" aria-expanded="true" [attr.aria-controls]="'collapse' + generateValidId(album.nomeAlbum)" (click)="toggleAccordion($event)">
            <strong>{{ album.nomeAlbum }}</strong>
          </button>
        </h2>
        <div [id]="'collapse' + generateValidId(album.nomeAlbum)" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table center-text" *ngIf="albumData[album.nomeAlbum]">
              <thead>
                <tr>
                  <th scope="col">Faixa</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Duração (Minutos)</th>
                  <th scope="col">Avaliação</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let musica of albumData[album.nomeAlbum]">
                  <td>{{ musica.musicaId }}</td>
                  <td>{{ musica.nomeMusica }}</td>
                  <td>{{ (musica.duracao / 60) | number:'1.2-2' }} <strong>mim</strong></td>
                  <td>{{ musica.avaliacaoMedia }} <app-star></app-star></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
