<!--<footer class = "w-100">-->
<!--  <section class = "">-->
<!--    <div class = "d-flex w-100">-->
<!--            <span><p>Gravadora Campos LTDA - CAMPISTA</p>-->
<!--                  <p>E-mail: campista&#64;gmail.com | Telefone: (21) 97565-4789</p>-->
<!--           <p>Av. Rio Branco, nº 256, 9º andar - Centro/RJ</p></span>-->
<!--    </div>-->
<!--  </section>-->
<!--</footer>-->


<footer>
  <section>
    <div class="footer-container">
      <div class="footer-column">
        <div class="footer-heading">Conheça-nos</div>
        <ul>
          <li>Sobre a Campista</li>
          <li>Informações corporativas</li>
          <li>Carreiras</li>
          <li>Comunicados à imprensa</li>
          <li>Comunidade</li>
          <li>Acessibilidade</li>
          <li>Campista Science</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-heading">Ganhe dinheiro conosco</div>
        <ul>
          <li>Venda na Campista</li>
          <li>Proteja e construa a sua marca</li>
          <li>Forneça para a Campista </li>
          <li>Seja um associado</li>
          <li>Anuncie sua banda</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-heading">Pagamento</div>
        <ul>
          <li>Meios de Pagamento</li>
          <li>Compre com Pontos</li>
          <li>Cartão de Crédito</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-heading">Deixe-nos ajudar você</div>
        <ul>
          <li>Sua conta</li>
          <li>Frete e prazo de entrega</li>
          <li>Devoluções e reembolsos</li>
          <li>Gerencie seu conteúdo e dispositivos</li>
          <li>Recalls e alertas de segurança do produto</li>
          <li>Ajuda</li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>© 1996-2024 Campista.com, Inc. ou suas afiliadas</p>
        <p>Campista Serviços de Gravação e Divulgação do Brasil Ltda. | CNPJ 15.436.940/0001-03</p>
        <p>Av. Juscelino Kubitschek, 2041, Torre E, 18° andar - São Paulo CEP: 04543-011| <a>Fale conosco</a>| ajuda-campista&#64;campista.com.br</p>
        <p>Formas de pagamento aceitas: cartões de crédito (Visa, MasterCard, Elo e American Express), cartões de débito (Visa e Elo), Boleto e Pix.</p>
      </div>
    </div>
  </section>
</footer>
