<!-- src/app/components/avatar-greeting/avatar-greeting.component.html -->
<div *ngIf="showAvatarGreeting" class="avatar-greeting">
  <div class="avatar">
    <i class="bi bi-person"></i>
  </div>
  <div class="greeting">
    <p>Olá, <span class="highlight" (click)="toggleLabel()">{{ nomeUser }}</span>.</p>
    <p>Bem vindo de volta!</p>
    <div *ngIf="showLabel" class="user-options">
      <label>Administrador:</label>
      <br>
      <label id="statusAdmin"><strong>{{ isAdmin ? 'Sim' : 'Não' }}</strong></label>
      <p *ngIf="isAdmin" routerLink="/usuario">Editar</p>
      <p (click)="logout()" routerLink="/login">Sair</p>
    </div>
  </div>
</div>
