.tituloBackground {
  background: rgb(25, 134, 83);
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3rem !important;
}

#titulo {
  color: #000000;
  font-size: 36px;
  font-style: revert;
  font-weight: 100;
  line-height: normal;
}
