<!-- src/app/components/musica/listar-musica/listar-musica.component.html -->
<table class="table">
  <thead>
  <tr>
    <th scope="col">
      Id
      <span (click)="sortColumn('id')">{{ isAscending && currentSortColumn === 'id' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Nome
      <span (click)="sortColumn('nome')">{{ isAscending && currentSortColumn === 'nome' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">Resumo</th>
    <th scope="col">
      Avaliação
      <span (click)="sortColumn('avaliacao')">{{ isAscending && currentSortColumn === 'avaliacao' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Duração
      <span (click)="sortColumn('duracao')">{{ isAscending && currentSortColumn === 'duracao' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Álbum
      <span (click)="sortColumn('album')">{{ isAscending && currentSortColumn === 'album' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">
      Banda
      <span (click)="sortColumn('banda')">{{ isAscending && currentSortColumn === 'banda' ? '▲' : '▼' }}</span>
    </th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let musica of musicas">
    <th scope="row">{{ musica.id }}</th>
    <td>{{ musica.nome }}</td>
    <td>{{ musica.resumo }}</td>
    <td>{{ (musica.duracao / 60) | number:'1.2-2' }} <strong>mim</strong></td>
    <td>{{ musica.avaliacao | number:'1.1-1' }} <app-star></app-star></td>
    <td>{{ musica.album }}</td>
    <td>{{ musica.banda }}</td>
    <td>
      <app-editar *ngIf="isAdmin"></app-editar>
      <app-lixeira *ngIf="isAdmin"></app-lixeira>
      <app-avaliar></app-avaliar>
    </td>
  </tr>
  </tbody>
</table>
